/******************************* MAIN RESET / SET *************************************** */

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  position: absolute;
}

html {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none;
}

@app-background-color: #E6E6E6;
@form-back-layer: #2E86C1;
@border-color: #8D8D8D;
@border-color-invalidated: #DF0101;
@container-color: #D6D6D6;
@input-font-color: #084B8A;
@app-font-color: #444444;
@overlay-color: rgba(0, 0, 0, 0.25);
@spinner-color: rgba(255, 255, 255, 0.25);
@form-title-button-background: rgba(255, 255, 255, 0.25);

@app-background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAAAXNSR0IArs4c6QAAAAZQTFRF////zsrFFOhhzwAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfbCA8IIAxOHyTqAAAAbElEQVR42u3PMQ0AAAgDsMlHNhqWcHC0Dpqp5S0XFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXF5cjC3IDYNdXepeXAAAAAElFTkSuQmCC');
@app-delphi-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAwAAAAMADO7oxXAAAEhklEQVRo3u2aPXLjOBCFP+86NxMrVcd24huwb7K6CZs30VGaN1CiiaHUTOgTeAIAEqkfivoZ21O1r4plgwaBfo2HBhow/OV4uLUBM1OgNLMpdfu/1/cg8HiHNkrgvPWHuAuBq0bAzKr4o2+3gRKf0x8OiqqKqmJmF9uRbfj3gg9UVf9zd23bVtu2lSACgwcozjTUrw90IRBCyM4ME82psg2XSGgrlfV6fdSjZ6E6KAZ3gjupXQN8qj+zDZOGzsw+3R13v9zoaR30Sw8j1SrAqgqaRnHX8UmcI4y7x7Hd8+AoQogPDCRzFKr9+hXQkEYj2wDGyws6m0Xj39+fHfB/zphRAnY1Aff4ZCJjBHYELfU7sAGw2QwtS3BXfv16dTOrR4brCtlkgzkekCwbO+aI4VqRBsLpy6YftU5KaLLXe1KREMh+FCFGJZQYXEIiFMA96iNJayHCqutYdd2enByRgAg0Dby/t87eRB8lcNZbmUDyuvS9vi1o6jMR8AAeohVJOgsRliHsCGxl54hAWUJdA6zdbD1YAA8kNFikThE4JZVBIaI/9PtSlMUCWSwAWIbAcm+ufFZG08SuzI5Hp4MR8GTY3sQaQmTnqfxdcroAuIKE+ABFUSAihJ4zRARREFnGOl0BFCxEKIoVRbGiaSCE3KofNeU0gbGJm8PiHgHtE1AfJ6CKyJL5PBEIcfgWIog487kn2Qg7GU4gcBHMUoxgcqQSEUSEstTB+4UIqjp4P6bijME6YGbV6+vrSPXbURSrrWz6eHrave+6NzabBagS6KniCPZHwJ6fn/+k/RTFivncj74vihUAHx9vhLAA9f5+aRKBb0fTeIpIPqn+QEJXbRmuRN0oHmRbzrLZrgcT8W0EzJVmsyOQZXMTga+AufJQ28H7ZQjoiNYnEVDVFMcvb+gWbDYLuu7tqm9/BIEQridwVRQydarSj0rhonZcMVemZ5KH2J8D1rbtaGumTjkPQFw934riJhKjcI8biZGgsr8S1+v1epRAVToqP5TAAGaDuWDqfFZ2WO3E+/txcBs7NzpGoCFlf0LcB/Zl04fIkqen1R8zfgqOTWJPj2UCVelHP85b4Z9GABgexH45dhnf2XOr0TAaE+pA02hKyw9Ho+ve+Ph4A5Z3M16ICY9PWI9GtxIigbJ03JXlNmYPsd363gsTIk8fByOQk/oqJdR1neR0JDW6dOt7znDcs3Rt6v3BgICZVS8va53N2nQOs8sYadt4tFCBB6HZCOHCneM5r0t0kBEj4SQcZGSzWUtZ5oQaN0sXEfE0WAGajSQ5hduNzwR2dwUXXXw8Zs9zIJthBMhBqa5TjurOpEuNUzg4QpwumwGBUdkMnQSkHavkYyGPg+DTOgO2x4aqStu23tu6TJbNgABjshkhEI+FjG18vYSAOxq97uv1ur5lzXk0s3RXZefuqmpgrLPPKR2qqrn7TUYPCHDdDeOPwSNQb+8B/kJ8eVJ/b9x6sFX1C7urAk+FGGG7bkXXLeO7tlXbfdLYLfkkt/+rwdmJa2f+bDfe2P/1EvqfwHfjN57qfUzoi+OGAAAAJXRFWHRjcmVhdGUtZGF0ZQAyMDEwLTA3LTI3VDEyOjEyOjQ3KzAwOjAwA3zMRwAAACV0RVh0bW9kaWZ5LWRhdGUAMjAxMC0wNy0yN1QxMjoxMjo0NyswMDowMFzNunMAAAAASUVORK5CYII=');
@form-close-button-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAc1JREFUeNqkUz1LA0EQnb1cVk1iE0zlqWCUiI0gKsQqnX9A/AuC/8UfYGchFmJhayMRBINWNh5KBEWbQAiSXC6X+/TN5oNEIwo5eNzO3L43b+dmRRRFNM4jWOBMiJQg2ke8A6T/4NSAS5Q92osiS+cMgv351dWDlXzekImE/I3JxVzbds3b2+y7aXLqUAkEqLy8tWVYjiPJcf5yLRfX141X02S3h1pXIB1qmrQsixjGyQn11qNyXhTJoHtUJeADDio3Gg1aubhQZfjN8agci/hdO3pPwLZtajabdL60RLvlshKcPz1V+TJiTdPoamOD4vE4ZTKZvkDfgeu65Ps+TSeTdDwzQyaaVKlUlJAQgq5B5u4Kz6NWvf7TAZNd2LNrNUqGIcViMVVNSqmQGuiiDpEhBx7QBjGqVmkqCChXLA6RdV2nwtMTJbCPIVHM+34EAYEE/vPcAPlhc5Pu19aUAGP75UUJTMLhDwcSPeCPb4WCIj+CPIuYUcrl1OabbLbjAoW8wR60MZ4BujgFnQXEzyAvDJyZ1yWQe7lWGLrtzkh3HHxitkv1+gcGxJ1EnGWb39DLeSDfOc4Hc/oOWrgYSBLw78s0AU7/No7zfAkwALzl9C/AJe10AAAAAElFTkSuQmCC');
@combobox-button-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAg1JREFUeNqkk81rE0EYxp/Jzm62NduYakVLsSCBtgaxYhGkCBKhIB682LOCB4XSiwcV9NqzinjrRf8DD14KeqoKilCi6CUWTcUPXElDzH7Mfoyzs+5kc+qhC8/OO++8v3efmWUI5xy7eah8za7tASGXRVgXquzAtIVegPPH4cZCj6Y5fmW2duj6/KnJqlnUzcF6jsxkMrpe4L16+3Wq8fEHEalHaYM4qp+eO1ztbDtmJ4d2OumsXC7nO5pzx8erjQ/f6v0GPBotEG56nqequt0unj08JuMLy+9hWZZaM4whM2HUGQgHYMyH67qqiDE2EOfXdJ1IRjXgUUg8j8H3fVWUALZty7HVaiGO04PQqIaxsVHJJPNC6iAkQRAgiiI8vTeD5Usmfttt2SD5OoeGB7drWH8yL2IKxwkkk9tCiDCM4Pohms0mJg9wrCxNCKs6KKW4f3MKJ4/ulTE1hsGJLpm+A2HnrxOjxzQs3vkpC09Mj6SAUAafuboB3bRA9CHJDGzBjQzoRQulygQW79oKznT22ie5ZogGml5SW/jvICAoDMsGiUb2H8HFW78UfG7ps8xl64kko84gZG0WcJ+apWL2F8oHp3H+xqaK8w9zen7CKAfc3X6++WZ9K2aBT8X+MlXGa1L5XCRqvrx7uZUwfQeBv/q98bogtCBm+3a4TH+E1ggtriYTstvr/E+AAQDrSefntraW0gAAAABJRU5ErkJggg==');
@datepicker-button-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfFJREFUeNqUUs9LG1EQ/ja7NVGT0IAQ/IGWepGUFCFCUQgkFz1p8OA5kmNBQoXiLYcN/Q/07qXFQy4eFPSSu9BrPAREjUpEBQkhrbrZ15mXfa+JCK0Ds7vfzPd9zLy3EELgwjBQoqT4RJnlN+NLL1/qsYa1Bj8ufT6bGrFdId6lK5VEORb7mTGMU3TFC73KqOsWLG4+ANPvbXsxdXiIarWKVDKZGE2nE90GqXL5b29+PnFSKPRxXRr8Bvxus4nbRgPHq6t4Oz4O5/6+W9/TYy5rtEFLiH631cLczg4+HB3hjd+Pu7ExhLa3tcHHeByTExMYDIfBXNb0TNCm4lU+j/6BATxR7RfhwNCQNuBjDAaDgOuCuWoCeZJTwLp4ZXiazgQCMF0CnP8TPr5C0ugVGDhs0G6jtL+Pi3od4VAIuZUVKeBajWpfcrmOgWlqA59najq02yMZLC0s4HM2i/r1tcSqxmeiMHPxbAKLJ3h0HJzVavheKiE5OyuxiiZdncadCSw9gfAmeCLCyPAwvq6tYe/gQGKVDfoP1Ddze1aQE3grcN7QT8QChfMbGxLzW62gJuisYBj+Nq1wS8LNrS1EIhEsZzKSzPGtWNSrcK2PuKzRBkQLmZaFaDSKom3/8xqZyxptQGd6PhMI/MDr4pwffwQYAEq9UYX/QmutAAAAAElFTkSuQmCC');
@messagedlg-custom-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABTNJREFUeNrsV1tMW2Uc/59b76UtdGu52LkLl8GmAydBQWKyRZ3ZxGQxsT74YjTxYT4Yjb74ssSoCYmJW+L0ReODRM2yRVHUwLLAiJtc5hAqMJBxKVAZlG60PT1X/985BUopEwZxD/ql/57T7/T7/37/6/cdSlVVuJeDhns8/ifAkq/GE8yKSYpC0W60jxHv7kMpRNmG4kAxZyCvoMRRIigzKNdRxjHDEoBfJNPS0+3oKVknsMawojzMmuwV24prSz2lh0sdBfvzDTa3izWYrUDRKwmoiiIJ8aiwcDMcmfg9GAo0B2YGWgMif7sbn3agRNf0QIZRypodR3ZWv/iYr8pfbXR43cAY0Gb8O0XrsmqoNGtW7KzdY7d4Sny55XWPJCLTN8cuN7SPtH/RJsYjTfinQPoqipRhSgiI52udBfuOlfvrn7N6inzAWUBzoMwDSAm8lYi1mWlr5JAkIcsYdXUiD9G/BseuNrzxzfxE73c42aorTAmBrOrIGPsaT8nj/gp//QtslseuWSxgSKX4+jJKIybpZMlgTAAGG1hz9/qqXv7sle6GN22h/osK2tymZqiC3TZP4bHy5z/ws1leu6YsFkILFlCxfHciYdjjM9o9a99uJ7oJBsFaUYbIiEN54sDxk89wWZ4sbTEuVGWR5NbmREaP8HNYIyJwVncWwSBYBDOVwC5v2aFKl+9AMdBGHVyRdZdugWi6+DCi0eDyPVBMsAjmUhVgPCp2HHy2AjiMmXhLs/yfhqzEQJIjIMizIMtR/B0HRRVQl5TMZhZoygAMbQaGsYKByQEOzWVYBxCsYG9LBf5tQCOgqOB15hXnA82BStwFmTcoReEhIYWAFycRHIlm3MgoPR9BxuSOa8RAmsMONQ6MMAy2rIfA5i3IJ5jLHlDBZbQ4nUBjOcrCqpaloKJYYhR4aRIfSSkdk9pQ21XQa7LKY5QVJ8FcIoBsaM3qNGBiRVwYRxldAqaA2dzWg8lIklzHXCZwi4+GI2abN5uEAeQEui4KC4l+zdW6tZvft2jaBIocB2khEiGYqSGYnhsLTOW7d2ZTnBkSwgS6fBjnRUwkdst2PobFLQQrIjw5PEUwl8oQ2XRf//V8HwgYI1rFWAe1VKIpbusEy5umTIDqYaSjpY9gpoZgcKy3tWtq6OLB7N1lu0zWQkhEB/VutiWDQgJmLX9mR4f+DAa6unBycNkDCggo3/7ydf0Ffn4M+ycDRkuhvgjZb04MWFwWrSdIMT7acfbTCwSLYKbvBf3zoeDZ9i8/auLnRqMUuspgLQKWy8HFRk3BxsWkGUHWi3Ex2t5wuolgEKwV5wFpeXf9eXKgh23+5CRf4z9x2JW/x8tyblA5F+7CUWypPCZmskWvalaLx6jlZkSupCNGpoPTlxpONYcnb3xFMBR17QMJedY4G7wx/cPpd0Iljz5ZubfmyH6La7uTwvKkaIMOvEggeVW1q6JzIq5TqWST0h2Mur4X+dgZnOqk1nki6hTisYGelnOH/rj0Y21e8YNFO8oq73f79rgtjmy7wWQxUdqRjEpaS6cbvmKgLsKwM1PjvFOR38ZaPZ/g+Z+Gf7tSNHT1SjnOFaDkoNhIWa+1MK9wX27da+8+tfhblJPNRN4YgcVBjkPXMDbX1tXvscWO9PdWffhqXfj1M41+MsdL2sn6X3svUAQRLgsSfPzeS0fPYQeAhIjNHbeAdFmvB+6KBDn3iejyz99/O0+Q8d3gji8mieqUHTB5xZunufZNsUAVbUN9PW/h9fiaPfI//3b8twADACCjzD80ZEQNAAAAAElFTkSuQmCC');
@messagedlg-confirmation-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA61pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wUmlnaHRzPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvcmlnaHRzLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcFJpZ2h0czpNYXJrZWQ9IkZhbHNlIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InV1aWQ6NzBDQkJENjFFODMxREYxMTlCMjJGQkJBMDE3QTBERTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTkxRDlCRjg4NDM0MTFFMDk1NDQ5NjM2NUYzMUQ5NjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTkxRDlCRjc4NDM0MTFFMDk1NDQ5NjM2NUYzMUQ5NjMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QTI1NDYxQUQyRjg0RTAxMTg1RkJBOTI1NDUxRDI5NkIiIHN0UmVmOmRvY3VtZW50SUQ9InV1aWQ6NzBDQkJENjFFODMxREYxMTlCMjJGQkJBMDE3QTBERTkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6KMnz6AAAI6klEQVR42sRXa2wU1xX+Zmcfsy977fWu3zZP462xiV3TGCgutsEqTaAQhEosCk1VRaqiqqoa9V9/VG1VtWnzp1KrVkFNlERuinikcqHENbIMxCblEdtgMIJSr9exvX7ta3Z2d3Z2eu54d1mwQUr/ZKRvZ3bu4/vOueece4dTVRVf5KVnPwcOHMi+4DhOg06ny/5P3wW6VRCqCEUEa2Y8XUmCSJgneAk+MizGGjIGplIp7TnX4LNnz2YneNZlI2wRBMFTX1/v2UJXZWXlGovFUqTX620aezIZEUVxfnJy8r8jIyPDo6OjdyRJukNNw4TIsybnmKKneICZXm+321va29t3trS0dBiNxlIiw9OWjY3jeR6JRGJ6aGio7+LFi5cikcgQNY2SB9TP4wETdWz1eDytXV1d3ybrqxmxd1rCyIMk7k4o8C+lEBKXJ8uzcnAX6FBbzaNhvR7FhbrSHTt2HG1qatrZ3d397t27d4up2wAhvmoMPElO2NPZ2bl/9+7dXbIsW32zEv7xsYw7ExzyC/JRVORATakAQTBqAyQpjkhEwuB4CBeuBuGpVvHCdgOJ0lcfP378R319fcW9vb1s3t4nRTwpgLn9a4y8o6PjGK2j6epYEj0fp1DocuO5Jje5VyGyOLzeRcRicS24TCYD7HYryspcqKoqxtTUHN78YB77tvNoqeOt7e1txxRFAQlJpEWojwlgk6TXsKG2tra1ra2tSxQjpr7rKfTd4FC3eSPY0vl8S4iEw2j2GNDW6cD6KhdsZj2m/DFcux3C2f4pGM15KCjIg8Nhw6mBCQRFBXuaU6a2tl1dXu+Ef3z83iwt73BGgC4nRexWq3X7kSNHjkajonXwloze6xSFDRsRDEpk1RK5OobO5434yXeqsXVzPgrzDDAaOKwtN+NwZzF+9YNKiOFFzMwEEApJWL++Ch99ooLNRYFpPXTo0FHKnu2MK2O0LqOEXjaS5TspkKun52XN7bW1a+D3h7CwEGITgOIBl26EoKRWz4KqUjMO7sqjpYkhEIho48orSvDh5aQWtAaDoZqCcyfjetIDFOhCXXNzc1s0GsX5IQX5hUWIRhM0SVAjzmA+qOLkBR9OfjSF7/9iFK/+bBTTc7GsiOY6B9gcLGtCIZHEJGAU7Dg3mNTGNzU1tplMpjrGmRVAiqrq6uo8qZRSMrOgYIyi3enMx/T0wmPkDCyPT5z1E+YwMaPCN6fi3MD0o6pl0Wv9mAAWeIFAGFargFsPU5gLgNWJkpqaGg/jzA3CdSSgnim/9ZAmsds0F8bjiVVdzcp0IiFTexzxWBRuuwrKdS2Wbo6LFAOz5G49qFIyt5MYGZxOT3Mr2FEno6ZmY/2NGzfW0VT39GkPuEtLS6qZ4nEvp6XU0lI4mx2Zi7UzkRExmhan4rv7CkGZp1nNCC9/GiGBPM3JabGiJpJkTAg2m4XqSJIEAG53cTXjzPWAzWQSnJR6FCwqyvN4mlDJEieJOBwWIUalrCgdWdT5vBnf+KpD8wgjH5+IY+Am7UnUBraZcQxMCONQMTOv0F8eZrPgZJy5AoxUA6ws10ORFCrJgszuFRHjCJPFbAJwelCTdhVYFRx7wZklnw+m8Ot3/ERsyu4n0KAjP3FIEYKRJL0yMA9ZGWeuALYpcWxQSk3RmimQCYFQTPMEG8TzuYuhor3ZBMHEa+RsA/rtu9OIxI0kkNPKKUd7mY5Lb+ccWz5OM0rjID6GXAFJWsMIx+nyrIJKXpAQiqagqDx5k18RhCqJLHY+Ivf5k7j/mQ683ojl4wO3fNew7AlZUWG3cFpFleVkhHHmChAjEXFREMx5bocOc+E4eIOJvKGsmgVqStHigpEzETMLMepvpP+mdEnHE3eyWkmguFivCRDF6CLjzBXg93q9k5s2edZ41hoxcU2E2eYkAfJTDxJ//nAKfzw1vxyQvAE2R/kjxrTxmQf2Wo6GsXmdoC0DHVwmGWduJfzP8PDwHQNZ0VhjRlwKgj3rjQItgWlVWAsq4aBq6XI5YXWUQWd4vC+XeeYp1ijyoUTRuMlMYnQYGxu7wzhzBTykk9Q9quH+EqceTTUmhIMLtN8LtK6mFWB5vqMmhA9+WYnTv1mP175JWZOMr+ynQYAcC2GrxwJXPsfc7x8bu32PceYKkKjAjFy6NHCF5ffh3UVISX5aaxlG40oRciyM771UCotg0OLgYEcZygvjq4pVKdYMygK+1emiTFBx5crlK5IUHWGcuXsBw9Xe3gtDgUDA5y4wUI674J8cI/elaCkovfSPwJO7pXhKI+fT+ZlUdI/1YWDZEpwZwyv7S1Fo57C4uOjr7//XEOPKnA11mRJLCIXDof4TJ/50hp6ju75ciJf3FMA3Pgg5LlG0syhfhiW/DL+jvJ8PyJBiCt58z4tQqiLbziDHo5h5MISje4vQ2phPpVuOvv32W2fC4XA/42Kc2VNxQ0NDNmbJNQf37t13uKvrlZcEwWTsHfLj9933YczfgKLyWhJiSp/zk4gGPqO7TEFYTu4Wlj1BsTA/dRdy8D5+eLQGHV9x0f4hJd5//y+nL1zoOUmV80zmSEZH+BVnQpUK0vnTp/9mpWLBHz/+6oud28rMWzY58Yfu2+j/5DZFfxUK3WspTQtgc1ZrgxIxEZHgFBb9DyEuedHWXITXftwCl8PINi/pnXfe6unpOX2OasZ5OguoK74LcjygbbGUDWbaz/c3NDR2vP76T1+sqKgq1VNF9M1GcfHqJC5fn8IDbxBzi1FtjKvQQudDB3Y2l6O9pQLlLotWzn0+7/Qbb/y8Z3T0Zh+R/52ySiIBWS7mgacJYGDLscNms3/94MEjzYcOvdzsdpc4WVHheZ2G5W+X5Z2OFZhkcvnDw++fWTh1qvvamTN/vRaJhP9Jbr9C5CpL688jIBOcDsIus9myddu21g2trR0b6uufK3a5ih10iDWzMfRZJs3NzQZGRz+dHRjouz84OHCfUu3flCH9hADLFEb+/wrIHMXYFrqJ7l+iblR3kZ/+iEH6YyNImKK6P0YWj9NdZKehTKo+U8AXef1PgAEA4gDzbt3jjkkAAAAASUVORK5CYII=');
@messagedlg-error-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA61pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wUmlnaHRzPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvcmlnaHRzLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcFJpZ2h0czpNYXJrZWQ9IkZhbHNlIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InV1aWQ6NzBDQkJENjFFODMxREYxMTlCMjJGQkJBMDE3QTBERTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzgzMTgzMzI4NDM0MTFFMDkyMTU5REUxMDUzQTBFMjciIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzgzMTgzMzE4NDM0MTFFMDkyMTU5REUxMDUzQTBFMjciIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QTI1NDYxQUQyRjg0RTAxMTg1RkJBOTI1NDUxRDI5NkIiIHN0UmVmOmRvY3VtZW50SUQ9InV1aWQ6NzBDQkJENjFFODMxREYxMTlCMjJGQkJBMDE3QTBERTkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5un3+3AAAICklEQVR42sRXW0xc1xXd834DNWaYGRjGqjEYk8FAoAETsAdccFTLdYRSUeI4UaRYSqX8VPnpRypV/ozUr/5UStREdu3KGGMh27FDx8HY1FR2Yg9jwNhQUx7m/Z47wzCvrn2ZiwYCtOlPjrQ4l7nn7LXO3vvsc64sFovRj9mU/OfkyZPrP8hkMhFyuXz9/3ivRZcJZAG7AYM0Hy0MCMAMMAyMYmEr/EJaYDQaFZ8TF3z16tV1Azs1I3BQq9XmOZ3OvINodrt9j16v361UKo0iezjsEwRhZmRkZKi7u9vj9Xr7AoFAH155AN9OxmWsaBsP8NKdJpOprLq6urKsrKxGrVZbQUbbhY3nKRQKWl1dHe/q6nLfvn37rs/n68IrLzwQ+yEe0GBgVV5eXlVjY+M7WL2DiX0vXlDg229p5ckTCo+PU2RhQRysSEkhpdVK2ldeId2rr5LKZrNWVFScKi4urrx48eK5p0+fpmNYBxD8XzygAX5eV1d34ujRo42hUMgQAtlSczNFvF7anZxMaWlpZDAYSKPRiHNWVlYIK6WZmRmaXVwkRUEBJdXXkwqi4EnB7XZfaGtrawVXGxDcyQPs9sO1tbUnampqTiOOGv/dDhKaLlPmrl1kLyoSkykYDJLf7xdJJderVCpyOBy0B89jY2M0dvYsGd96i/RVlYbqatfpSCRCELKK4W2cmxt2ARuNGyrYv39/lcvlahQEn0a4foNCN25QYX6+GNvZ2dn1sVs1FsRiUlNTKRme6jt/nsIIk/H4LzQu15HG4eF/T/X3P5uEFzzSHHnCFjHBrYcaGhpO+f2CQbhzh4LXr1Mh3AlP0OTkpLhqdvdO4DHT09Nin5udTYHWVmJbSExDfX39KeyeQ8wlLUQuKcGPRVh5JRbgWIELfZeb6UBuLs1h1bxyNr4PefDfBOS2tIj9AlY+Pz9PWZmZtHSpiULjExwmB5Kzkrk2ewCJrs0vKSlxibGFEYvJRCtYOScWG3TCG9y43468AOHiVnjzppgni0hItpGsVNIybCKhqbi4yIXkzWfOdQFQlJWfn58XjUYsoZdjFO5GtiOOL1++FA2Vut0bYs3/8++J2DymrL2d3S56Qa/TUfDRI4pOTHAuWXJycvKYM9EDP4UApxjjRx5KxhbjiRx7NnIZsdzcmJDHsMiMc+docHCQBgYGxH5oaIj+kp5OEyCcnpqiGeSEiovAY49oLydnn5M513cB1JitVouDt8pqby+ZjEbRuJQoKSg0TXv30i/7+mhubk58xy7PunBB3B38zGcHPzO+KS0lNbZlFMUrBBsLGG9ASAMoYMZqF5nN6Q7mTPSAUaPRpnJRCk0iWRAzjpfUIjAkh6HzFguh3n+PUHrG2UDflJSQBv+zYTnsMVhIDFhFQeNtqtNpU5kzUYAaLwxcpsOLSySHMen08nM2Y1cEkVCcNb11dduS30EZ1vF5wOU5Ti5jwLMEhGBLJoM4ucLAnImFiEuyjNUxMdf9CGIlIH5hJJhoMO4NjuVW5Nwb1uIpQgY7snhpZbsxeDSKcXEOGSPRA2G43CeqS0oiAUqDKDwykKvipBLyOjq2JGe83tMjrkgFAUpAARESohAgR3VkfaFQ2MeciQIEn0+YYwEKczoJKDwaru+byLN3IJd+q+zvF8lVcShBzuAEV9tsogBB8M8xZ6KAqeHh4REWoHc6yQf363HScZAkOLYgf1BcTF0HD67/xj3j0PPnawJALIFPIWNBIbhinMgjzJko4F8ej6dPpVKTseQ1WuLJ2EaczUxu3YL8O5DzPmL848CBdXKplUCEGnYYnJBBLMhY+jMxCXt7e/uYM1HAC9yknmF7TalsGWR4rZzmETOdWi26frCqagO5B+SWhNDw8719+zYUqg7UDVU8H3yYk1TxOsnNFnb/VG9vzzPmTBQQQBXsvnu3o1MuV5L17dM0g2oYBqEGk20Y86y8XCT3gty2KTcY/Ns9kFK8t8XJI8ilJdwlMk69hzyIUWfnvc5AwN/NnIlnAeOfbW23unCKjSrTM8j+wYf0nN9BhBqrt3MNALl9C3IJ/O4+yKUx2Nj0QqulPb/5iCjVzFV0tL39713MJd0NRQGcocDS8vJS++ef/7kFz/5dNW+Q5f0z9BgJtAJDaj6ndyCXII3hO3m3QkkZZz6klCO1OLBC/i+++KxleXm5nbmYc8OFJI4HT5542i9d+mtrOBxZtTecpuzf/Z4e6vU0gAmxeOXaCTxmELa+MyVRzid/oIxfvcPkq01NF1p7errbmUPio4QPi/V7CQrSV1euXDKgWCjefffMccuxk7rUolLq/tMf6eu2W2QJhygTYUlGWHTxj5YA3LkIg6MQOaFUkaX2DTr80W9JkWbjm1Hgyy8/u3bt2pUbyKGvcBeIfe9WXIBrl9T4bMdu0KEcnygoKKr5+ONPjmdmZlmVSgUFRodo2H2LRu/dofnBAfJPi1uZ9Glm+snebLJXHqasmmOkzXCgnEdodHR4/NNPz17zeh+5Qd6KS09Auklzw0fMtgIYXK8rjEbTsTffbCipr/91idlsSeVFKxRyEWvfLiQWl7UzZO3DY2pqYra5+eLDlpa/PfT5lm9iC3eCPAbQDxEgJWcKcESn05eWl1dlV1XVZDudhelpaekpuMTqeA4+ywLT05MLXu/jyY4O98D9+x0D2GoPUDfagQWuH0z+/woQ7wYYx0doLvoDGJYBJPMXlDQNWATGcNr1YsX96AWuptJZsaOAH7P9R4ABAJnpEv/4dkWKAAAAAElFTkSuQmCC');
@messagedlg-information-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACElJREFUeNrEV2tMW+cZfs/xsX1sYzAX2xAubnMBPAopjFYkKCxcgjali9KhaAljQf2zP5MmbevP7de0P6s0aZo0qVKrpZo6ulS5LKJNO0rESCgkadJxMxAlyzBmgLn5dnx8O8d738/Ys4Fk6v70SA/n8N2e53tv32cumUzC1/kI9Ofs2bOZBo7jGHiez/y/8xbxVYGoQpQgTOn5+CQQEmID4UZ4cGMR6khvUFVV9p294evXr2cWeN6ThzgqiqKzvr7eeRSfysrKF4xGY4kgCHmMPZEISZK0sbS09K+pqanJ6enpOVmW57BrEhF63uIcKXqGBWjr9WazuaWjo+NES0tLp06nK0MyeJbbaJ5Go4FYLLYyMTExfOvWrduhUGgCu6bRAsmvYgE9DmxzOp1tvb29P8TdO4jYvSLD1JMEzC8q4N1WISClFss3cWAr5KHWoYGGQwLYi/iy1tbWvqamphMDAwN/mp+ft+OwUUR03xjYTY441d3dfaarq6s3Ho+bPGsyfPR5HOYWOSgoLICSEgtUl4kgijo2QZajEArJML4QgE/v+sHpSMLp41oUJTj6+/t/Ojw8bB8aGqJ1h3aL2C2AzP4tIu/s7LyIftTfdSVg8HMViqw2eLnJhuZVkCwKCwvLGFgpC5C3bLZiOHDAClVVdlheXoff/mUDvntcAy11GlNHR/tFRVEAhcR2RCRzBFCE7viwoba2tq29vb1XkkL64QcqDD/koO6lI0Cu83i2QVFU8Pv98IPTFdD1qpHN++xeGN7/yAP5+fkYAzwUFuaDxZIHV0YXwS8pcKpZ1be3n+x1uxe9CwuP1tC9k2kBfFaKmE0m0/Hz58/3hcOSaXwmDkMPMAobjiChjLvahkgkCugSqHEIcK4zDwrNPAN9Uxv10ZjVVR8EAjIcOlQFf7uXBFoLA9PU09PTh9lznLjSm+bTSrCxEXd+AgPZsbIRZ2avrX0BvN4AbG4GaIEMHKXaPYFDbdljfL4Qm1deUQp/vZNgQavVah0YnCeIa7cFMNDFuubm5vZwOAw3JxQoKCqBcDiGi/jZzrLx2B3eI4DaKFOon96EQEBCi8RAJ5rh4/FUX1NTY7ter68jzowAVFRVV1fnVFWldHVTARdGe3FxAaysbO4hJ3w5H4A/3liFTV+cgb6pLU2eflPg+XxBMJlEmHmqwroPqE6UVldXO4kzOwgPooB62v3MUyx95jxmwmg0tm+RwIIEv7s0Cb95OxUT6TbcwE5W8IBVkgHNjmLiwPECrq1Aa10cqquP1D98+PAgDn2UtoCtrKzUQYoX3CqYzSbY3g6y4MwGkVEGLP97BaSwDAkczyEZgb6TQFVUw5BMcqBgmsZiCdxMgFXAucUEE2iz2R3EmW2BPL1eLMbUw2BJQnm+BsmUzI5p8WBQYqSpjFHhg19X5pTgC79YBl6jSR1eBDrMOJ59Y+aymrG6oTBxBoNYTJzZAnQ40US5HgipUMlrMqdXSIpCUAqnig4nIAlaTE3sqf8cT9BCip/7rxAUQZZREf5QApu0qE1jIs5sAXQocTRJxd0lEgrEEb5AhFmCJiFH5lGByyEn//M8jdEyUurlsDryO2KoQVE4tinGgXyEbAEJ9G+I4/h8k5hEK8gQCKugJDXAC5o9QZjcRU7gkJzT6CB1feBSb4aUJeJKEsxGjlXUeDwRIs5sAVIoJG2JoiHfZuFhPRgFjVaP1lD2zQJyQTY55jWLfI2g37EM7HrjrpUY2O0CEyBJ4S3izC5EXrfbvYQWAOeLOgiHJAwUAxOxH8jf2eTMAtiW7udRCInhNalvXtChW6Pw0kGRxRJeXJaIM1vAPycnJ+e0Wh00VhsgKvuBvgWduLNALjiNkENO+U5tOWPS3+gW7MQgCENjjQFoky6Xa444swU8xZvUo0gk4i0tFqCpWg9B/yae9yLbyW7wWFRyyNkNStg7jkGEeCQArziNYC3gyPxel2v2EXFmC5CxCk7dvj06Rgud6yoBVfair+NIso8IrSGHnB5q208sxYtW2YTvd1sxE5IwNnZnTJbDU8SZfRYQ7g4NfTrh8/k8tkItXDxtBe+SC82noit0zI9pCFoxh5xFs1bMGUOgguVfdcEbZ8qgyMzB1taWZ2TkswniSt8NmQAqwYhAMBgYeffdt6/hd/jkN4vgwqlC8CyMQzwqI6EOIz8FslI2ear+C5l+QjwahtUnE9D3nRJoayzAcyUevnTpnWvBYHCEuIhzz40In/szM5MVly+/b+3tfeN7506V6yxmLfx+4O+gKzgMJeW1KEQPhvxS6PrJQo4Ai70mVbYx2jeW5yHufww/66uGzleteKzLsQ8//PON2dmpEUzX+8+7EyaxIN28evWyCYuFpr//R691HztgOFpTDH8YmIWRe7NgKqyCItuLYLRU4jlvYpNiEQn8m8uw5X0K0rYb2ptL4Mc/bwGrBVMa2d97753BwcGrH6PbbmLwJvf8LmhoaMg0RKNRvEREDHien2loaOx8881fvlZRUVUmYEX0rIXh1t0luPNgGZ64/bC+lbqYWIuMcKjKAieay6GjpQLKrUZWzj0e98pbb/1qcHr6y2Ekv4FZJVP2pB/8EfNMAQSq1615eeZvv/76+eaengvNNltpMbmeLp6E1G+X1ElHbkwkUj88vN7VzStXBr64du2DL0Kh4Cdo9jEkT1JafxUB6eC0IE4aDMZXjh1rO9zW1nm4vv5lu9Vqt+Al1kBz8GeZvL6+5pue/sfa6Ojw4/Hx0ceYavexXI8gfFS2ifz/FcAuIjiOjtAafH8Dh5UjCnZ+xMDOjw0/Yhmzw4U7XsC3RLchIv+fAr7O5z8CDAAlrruaC1+vLgAAAABJRU5ErkJggg==');
@messagedlg-warning-icon: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABUJJREFUeNrkV0tsG1UUvfOxHcfxJ3YTT8dOUzueprFJS8PCEUKtCv1QVEFb1CoVbVFKxAJ1x54NEhICVsCmEgiJDbsiFkilYsGqEqB+QGoqmrRJayel+fs/nnnzeHfsuEk6/qRCdMGTjnV933333nfefZ/hKKXwLBsPz7iJ+OMcGFinRFaoYZjyUKwI7xxehD19xY1j3QxfV+XzDNm1ndcnnfDVZT9cm3Ca/zmeB47j1jkojo83ZgADf/Fe2io4thNS7FwMgfLGThyDY9FHUwbOH1qADRQwB4V6gbF1iTbPUanvLKOOwvz090d1LfMj089ZTQJZvD7Zzmjg6iRwcH6zSzfCZp4QqObABKTY2URq/MsRpv/cyhgnUm8yfHXCm0Gvra37YFfvcYXkx4Hkb0PXtmMK6rBvM76eNoG3ZGU0TrVFUVfnAYGyHDsXx76nSsCgrYENSrR1RPb55QNRPXsLDEM3oWVvg19+OdrW0bsPbVr1t1kGOIazof7RBCk+4PTyci0Boi2DXkxzIeVcAm2qti0xIK4m0Kyx+h12+RNJ75ahUHH+F/j2Eg9TqcoujoQNOHPiL/AEkiGXbyCZWxofZi6vtnwSUqMpBJbkmfCOtxNabpLNOAf30zqUy2UTKKNOy9+DUOw0snDGHNPEb+tLAHDA253c4/Js71Kzd5jOAJ4rQalUAcdk1JXzU9Du7uliLO3BMf9WEToo5U+HldPxcm6CrblqBrMJai0BUajoDKMMWmEK5NjxOI7Bsa0VYSOqKLy+JbR30OHs9GqF+7W1c9g1KBaLJtpsWk2vlx6Cw+HzBqThQRzbbAnMIiRGncLjwCPw9pPh2Js7ce0pJY+Lh8vD9HQaFhYWwN3uhNmlHiCEmEy05XLQIQ3vnJv59aRB9csskUzj65hagw08Few9GBdFsV1THwJhCWTLKzCbS0F67k+4e/cmrKykwNlRBJUvg24jQOwU8jqzFUm7W3oBD6dT9fzXGDCo5bbrFkXXsVD0iFJghbdc/BvyWpbZVujaKtlBkhxV2cEYWU9jgRWkTx5SVmZvHDN09QcW4lFdBvDqfwLsQJH7DvcXtTn77PI1FhyvVY0FIiakoA3krQ4TKK/qV0H0RTAgb/fJz/ejL6sYdXcBoy0i2n1HvPJgZGn5N8ZGGQTmdC36og4IssDBoN2UN/YjNDUN3q2xiGBzHUGfVrtAXN0F654DHIwGoy8qZW1GIGQReItnS2T7Tvjsk6NVuicgn7/zpBHNs0gZwR8eUGYnfh9l6/6B5XvAMNZV/i6nK7A/ICs9ucwNcyZWrVS4bWK1CZx1lRMyD75uqWch5d6vFrK7GBN/NKoBjmFMVpKKrqU5oBkQeN0SV35egFdevWkC5Xp2PJRYhBUu2BtV0Hc1hnUNsOxecnmDSX9XMEhKUyCy2dfDx5+m4EFKNYFyI1uOZMEbcAedbk8SYzxxEmoaRYg6oWO9/bsVoqXNs17gjboQbYHH68jkRrYVJvIQisoKxsBYGLOWgKoCu9XgNY9fHvJ2dnRSfcayqtfiow+PQzQaMoFyM3tcCp/P1un2eYYwFsasFaFahjZB4MaURH8Eg/Ns2wHX+B4/tPcuvHHj/cr7fuUKaCXSwu1vQHRHIDKTyo4RQn/CWjYT0HUYCW+X4x4v7yIqKyiu+QvFUNnWezTRdBdsbF6v6JJkd3z6XgZf0d+sJnDhud3bwhw760W7VL0IDPZrmFlXDgpak2lNpo/1ppauOVTWHPgbWmLQH568k7lQS4D5uXjpu6vv/sefhRfNc+d//3X8jwADAHWOFkaFGOstAAAAAElFTkSuQmCC');

/******************************* MIXINS *************************************** */

.disabled-text {
  color: @border-color !important;
  text-shadow: 1px 1px 0 #FFF !important;
  cursor: default !important;
}

.can-be-copied {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.inherited {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: inherit;
  font-style: inherit;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.component-caption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  .inherited;
}

.like-a-button {
  box-sizing: border-box;
  background-color: @container-color;
  border: 1px solid @border-color;
  border-left-color: #FFF;
  border-top-color: #FFF;
  cursor: pointer;
  filter: grayscale(33%);
  .Caption {
    .component-caption;
  }

  &:hover {
    filter: grayscale(0%);
    .Caption {
      background-color: lighten(@container-color, 5%);
    }
  }

  &:active {
    filter: grayscale(33%);
    border: 1px solid @border-color;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    .Caption {
      text-shadow: 1px 1px 0 #FFF;
      background-color: darken(@container-color, 5%);
    }
  }

  &.Disabled {
    border-color: lighten(@border-color, 15%);
    background-color: lighten(@container-color, 10%);
    cursor: default !important;
    filter: grayscale(100%);
    .Caption {
      background-color: transparent !important;
    }
  }
}

.hoverable {
  &:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px #FFF, -1px -1px 2px #FFF;
  }
}

/******************************* TAPPLICATION *************************************** */

.TApplication {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: @app-background-color @app-background-image repeat;
  color: @app-font-color;

  /*--------------------------------------------------*/

  .TPicture {
    background: transparent no-repeat center center;
    background-clip: border-box;
    background-size: auto;
  }

  /*--------------------------------------------------*/

  .TOverlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: @overlay-color;
  }

  /*--------------------------------------------------*/

  .TSpinner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: @spinner-color center center no-repeat;
  }

  /*--------------------------------------------------*/

  .TMessageDlg {
    .Title {
      .Icon {
        display: none;
      }
    }

    .TPanel {
      right: 0;
      left: 0;
    }

    .TButton {
      position: relative;
      float: right;
      margin-right: 8px;
      height: 26px;
      width: 72px;
      line-height: 24px;
      text-align: center;
    }

    .TStaticText {
      display: flex;
      overflow: hidden;

      .Caption {
        position: static;
        margin: auto;
      }
    }

    .TPicture {
      &.mtConfirmation {
        background-image: @messagedlg-confirmation-icon;
      }
      &.mtError {
        background-image: @messagedlg-error-icon;
      }
      &.mtInformation {
        background-image: @messagedlg-information-icon;
      }
      &.mtWarning {
        background-image: @messagedlg-warning-icon;
      }
      &.mtCustom {
        background-image: @messagedlg-custom-icon;
      }

    }

  }

  /*--------------------------------------------------*/

  .TDatePickerDlg {
    .TButton {
      &.Date {
        .Caption {
          font-size: 12px;
        }
      }

      &.ChosenDate {
        .Caption {
          font-weight: bold;
        }
      }

      &.Holiday {
        .Caption {
          color: @input-font-color;
        }
      }
    }
  }

  /*--------------------------------------------------*/

  .TForm {
    background-color: @form-back-layer;
    border: 1px solid @border-color;
    box-shadow: 0 0 10px 2px @border-color, 0 1px 2px 0 #fff inset;
    overflow: hidden;
    min-height: 24px;
    min-width: 100px;
    box-sizing: border-box;

    .Title {
      height: 24px;
      width: 100%;
      cursor: pointer;

      .Icon, .CloseButton, .Caption {
        height: 24px;
        top: 0;
      }

      .Icon {
        width: 24px;
        left: 0;
        background: @app-delphi-icon no-repeat center center;
        background-size: 16px 16px;
      }

      .CloseButton {
        width: 24px;
        right: 0;
        background: @form-close-button-icon no-repeat center center;
        filter: grayscale(33%);

        &:hover {
          filter: grayscale(0%);
        }

        &:active {
          filter: grayscale(100%);
        }
      }

      .Caption {
        left: 28px;
        right: 28px;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        font-weight: bold;
        line-height: 24px;
        color: #FFF;
      }
    }

    .ClientArea {
      top: 24px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background-color: @container-color;
      overflow: hidden;
      box-sizing: inherit;
    }

    .SizeHandle {
      background-color: @form-back-layer;
      width: 16px;
      height: 16px;
      left: auto;
      top: auto;
      right: -8px;
      bottom: -8px;
      cursor: se-resize;
      transform: rotate(45deg);
    }

    &.noTitle {
      .Title {
        display: none;
      }
      .ClientArea {
        top: 2px;
      }
    }

    &.noCloseButton {
      .Title {
        .CloseButton {
          display: none;
        }
      }
    }

    .Disabled {
      .disabled-text;
    }

    /*--------------------------------------------------*/

    .TPanel {
      border: 1px solid @border-color;
      box-shadow: 1px 1px 0 0 #FFF;
      box-sizing: border-box;

      .Caption {
        top: -8px;
        left: 8px;
        padding: 0 4px;
        background-color: @container-color;
      }

      .ClientArea {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid transparent;
        border-top-color: #FFF;
        border-left-color: #FFF;
        background-color: inherit;
        box-sizing: inherit;
      }

      &.Depressed {
        box-shadow: none !important;
        border-color: @border-color transparent transparent @border-color;
        .ClientArea {
          border-color: transparent #fff #fff transparent;
          background-color: darken(@container-color, 5%);
        }
      }

      &.NoBorder {
        border: none;
        box-shadow: none;
        .ClientArea {
          border: none;
        }
      }
    }

    /*--------------------------------------------------*/

    .TStaticText {
      box-sizing: border-box;
      .Caption {
        .component-caption;
        padding: 0;
      }
    }

    /*--------------------------------------------------*/

    .TButton {
      .like-a-button;
    }

    /*--------------------------------------------------*/

    .TBitButton {
      .Caption {
        padding-left: 24px;
        background: no-repeat 4px center;
      }
    }

    /*--------------------------------------------------*/

    .TToolBar {
      border-color: transparent;
      border-bottom-color: @border-color;
      box-shadow: 0 1px 0 0 #FFF;
      left: 0 !important;
      right: 0 !important;

      .ClientArea {
        border-width: 0px;
      }

      .TToolButton {
        position: relative;
        float: left;
        top: 2px;
        margin-left: 2px;

        .Caption {
          padding: 0;
          background-position: center center;
        }
      }

      .TToolBarSeparator {
        position: relative;
        float: left;
        top: 2px;
        border: 1px solid #FFF;
        border-left: 1px solid @border-color;
        margin-left: 3px;
        margin-right: 1px;
      }
    }

    /*--------------------------------------------------*/

    .TEdit {
      box-sizing: border-box;
      border: 1px solid @border-color;
      background-color: @container-color;
      color: @input-font-color;

      .Input {
        width: 100%;
        box-sizing: border-box;
        padding: 0 4px;
        background-color: #FFF;
        .inherited;
        .can-be-copied;
      }

      &.Invalidated {
        border-color: @border-color-invalidated !important;
      }

      &.Disabled {
        .Input {
          background-color: transparent !important;
          box-shadow: 0 0 1px 1px #FFF inset;
        }
      }

    }

    /*--------------------------------------------------*/

    .TDatePicker {
      .Button {
        cursor: pointer;
        width: 24px;
        top: 0;
        right: 0;
        bottom: 0;
        background: #FFF @datepicker-button-icon no-repeat center center;
        z-index: 10;
      }

      &.Disabled {
        .Button {
          background-color: transparent !important;
          filter: grayscale(100%);
          cursor: default;
        }
      }
    }

    /*--------------------------------------------------*/

    .TComboBox {
      box-sizing: border-box;
      border: 1px solid @border-color;
      color: @input-font-color;
      overflow: hidden;
      background-color: #FFF;

      .Button {
        width: 24px;
        top: 0;
        right: 0;
        bottom: 0;
        background: #FFF @combobox-button-icon no-repeat center center;
        z-index: 10;
      }

      .Sizer {
        top: 0;
        right: -24px;
        bottom: 0;
        left: 0;

        .Input {
          width: 100%;
          box-sizing: border-box;
          cursor: pointer;
          padding-left: 0;
          padding-right: 32px;
          z-index: 20;
          background-color: transparent;
          .inherited;
        }
      }

      &.Invalidated {
        border-color: @border-color-invalidated !important;
      }

      &.Disabled {
        background-color: @container-color !important;
        box-shadow: 0 0 1px 1px #FFF inset;

        .Button {
          background-color: transparent !important;
          filter: grayscale(100%);
        }
      }
    }

    /*--------------------------------------------------*/

    .TCheckBox, .TRadioButton {
       box-sizing: border-box;
      .hoverable;

      .Tick {
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid @border-color;
        background-color: @container-color;
        box-shadow: inset 0 0 1px 1px #FFFFFF;
        cursor: inherit;
      }

      .Caption {
        .component-caption;
        left: 14px;
        padding: 0 4px;
      }

      &.Checked {
        .Tick {
          background-color: @form-back-layer;
        }
      }

      &.Unchecked {
        .Tick {
          background-color: #FFFFFF !important;
        }
      }

      &.Disabled {
        .Tick {
          background-color: @container-color !important;
        }
      }

    }

    /*--------------------------------------------------*/

    .TRadioButton {
      .Tick {
        border-radius: 6px;
      }
    }

    /*--------------------------------------------------*/

    .TMemo {
      box-sizing: border-box;
      border: 1px solid @border-color;
      background-color: @container-color;
      color: @input-font-color;

      .Input {
        .inherited;
        .can-be-copied;
        width: 100%;
        height: 100%;
        resize: none;
        overflow: auto;
        box-sizing: border-box;
        padding: 4px;
        background-color: #FFF;
      }

      &.Invalidated {
        border-color: @border-color-invalidated !important;
      }

      &.Disabled {
        .Input {
          background-color: transparent !important;
          box-shadow: 0 0 1px 1px #FFF inset;
        }
      }
    }

    /*--------------------------------------------------*/

    .TGrid {
      background-color: darken(@container-color, 15%);

      .TScrollBox {
        background-color: darken(@container-color, 15%);
      }

      .ColumnHeaderPanel {
        border-right: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
        background-color: @container-color;
        box-shadow: -1px 0 0 @container-color;
        .TStaticText {
          top: 0;
          float: left;
          position: relative;
          border-right: 1px solid @border-color;
          border-bottom: 1px solid @border-color;
          box-shadow: 1px 0 0 0 #FFF;
          text-shadow: 1px 1px 0 #FFF;

          .Caption {
            white-space: normal !important;
            padding: 0 4px;
          }

          &:last-child {

            border-right: none;
            box-shadow: none;
          }
        }
      }

      .RowPanel {
        border-top: none;
        position: absolute;
        cursor: pointer;
        background-color: #FFF;
        box-shadow: none!important;

        .TStaticText {
          top: 0;
          float: left;
          border-right: 1px solid @border-color;
          position: relative;

          .Caption {
            font-size: small;
            padding: 0 4px;
          }


          &:last-child {
            border-right: none;
          }
        }

        &.ActiveRow {
          .ClientArea {
            box-shadow: inset 1px 1px 0 0 @form-back-layer, inset -1px -1px 0 0 @form-back-layer;
          }
        }
        &:hover {
          background-color: lighten(@form-back-layer, 33%);
        }
      }

      .Disabled {
        .RowPanel {
          background-color: lighten(@container-color, 5%);
          cursor: default;

          &.ActiveRow {
            .ClientArea {
              box-shadow: inset 1px 1px 0 0 @border-color, inset -1px -1px 0 0 @border-color;
            }
          }

          &:hover {
            background-color: lighten(@container-color, 5%);
          }
        }
      }
    }

    /*--------------------------------------------------*/

  }

  /*--------------------------------------------------*/

}


